USE [SinemaOtomasyonu]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PotansiyelGelirHesapla]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--FN3: Bos koltuklarin toplam fiyatini hesaplama(potansiyel gelir)
CREATE FUNCTION [dbo].[fn_PotansiyelGelirHesapla] (@SeansID INT)
RETURNS DECIMAL (10,2)
AS
BEGIN
	DECLARE @BosKoltukSayisi INT;
	DECLARE @SeansFiyati DECIMAL(5,2);
	DECLARE @PotansiyelGelir DECIMAL(10,2);

	--TRG1 ile oluşturulan SeansSatisLog tablosundan yararlanilir
	SELECT 
		@SeansFiyati = S.Fiyat,
		@BosKoltukSayisi = (Sln.Kapasite - ISNULL(T.SatilanAdet,0))
	FROM Seans S
	INNER JOIN Salon Sln ON S.SalonID=Sln.SalonID
	LEFT JOIN SeansSatisLog T ON S.SeansID=T.SeansID
	WHERE S.SeansID=@SeansID;

	SET @PotansiyelGelir=@BosKoltukSayisi * @SeansFiyati;
	RETURN ISNULL(@PotansiyelGelir, 0.00);
END 
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TamAdiGetir]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--FN2: Kullanici adi ve soyadini birleştirme
CREATE FUNCTION [dbo].[fn_TamAdiGetir] (@KullaniciID INT)
RETURNS NVARCHAR(101)
AS
BEGIN
	DECLARE @TamAd NVARCHAR(101);
	SELECT @TamAd =K.Ad + ' ' + K.Soyad
	FROM Kullanici K
	WHERE K.KullaniciID=@KullaniciID;
	RETURN @TamAd;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_VizyonSuresiHesapla]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------FONKSİYONLAR

--FN1: Vizyon süresi hesaplama (kac gun kaldı-gecti)
CREATE FUNCTION [dbo].[fn_VizyonSuresiHesapla] (@VizyonTarihi DATE)
RETURNS INT 
AS 
BEGIN
	DECLARE @GunSayisi INT;
	--bugunun tarihi ile vizyon tarihi arasindaki farki gün olarak hesaplar
	SELECT @GunSayisi = DATEDIFF(day, GETDATE(), @VizyonTarihi);
	RETURN @GunSayisi;
END 
GO
/****** Object:  Table [dbo].[Film]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[FilmID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Tur] [nvarchar](50) NULL,
	[Sure] [int] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[VizyonTarihi] [date] NULL,
	[PosterPath] [nvarchar](max) NULL,
	[VizyonBitisTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salon]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon](
	[SalonID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Kapasite] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seans]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seans](
	[SeansID] [int] IDENTITY(1,1) NOT NULL,
	[FilmID] [int] NOT NULL,
	[SalonID] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[Saat] [time](7) NOT NULL,
	[Fiyat] [decimal](5, 2) NOT NULL,
	[Dil] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeansID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeansSatisLog]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeansSatisLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[SeansID] [int] NOT NULL,
	[SatilanAdet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AktifSeansDetaylari]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--------------------------------VIEW
--VIEW1: Aktif seans detaylarini ve kalan koltuk sayisini gosterme
CREATE VIEW [dbo].[vw_AktifSeansDetaylari] 
AS
SELECT
	S.SeansID,
	F.Ad AS FilmAdi,
	Sln.Ad AS SalonAdi,
	S.Tarih,
	S.Saat,
	S.Fiyat,
	(Sln.Kapasite - ISNULL(T.SatilanAdet, 0)) AS KalanKoltukSayisi
FROM
	Seans S
INNER JOIN
	Film F ON S.FilmID=F.FilmID
INNER JOIN
	Salon Sln ON S.SalonID=Sln.SalonID
LEFT JOIN
	SeansSatisLog T ON S.SeansID = T.SeansID
WHERE
	S.Tarih >= GETDATE();   --sadece bugunun seanslarini gosterir
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_groups]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_user_permissions]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bilet]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilet](
	[BiletID] [int] IDENTITY(1,1) NOT NULL,
	[SeansID] [int] NOT NULL,
	[KoltukID] [int] NOT NULL,
	[KullaniciID] [int] NULL,
	[SatisZamani] [datetime] NULL,
	[Fiyat] [decimal](10, 2) NULL,
	[BiletTipi] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BiletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KapasiteUyariLog]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KapasiteUyariLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[SalonID] [int] NOT NULL,
	[EskiKapasite] [int] NULL,
	[YeniKapasite] [int] NULL,
	[UyariSeviyesi] [nvarchar](50) NULL,
	[DegisiklikTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Koltuk]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Koltuk](
	[KoltukID] [int] IDENTITY(1,1) NOT NULL,
	[SalonID] [int] NOT NULL,
	[Sira] [nvarchar](2) NOT NULL,
	[Numara] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KoltukID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Eposta] [nvarchar](100) NULL,
	[Rol] [nvarchar](10) NULL,
	[Sifre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeansArsivi]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeansArsivi](
	[ArsivID] [int] IDENTITY(1,1) NOT NULL,
	[SeansID] [int] NOT NULL,
	[FilmID] [int] NOT NULL,
	[SalonID] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[Saat] [time](7) NOT NULL,
	[Fiyat] [decimal](5, 2) NOT NULL,
	[ArsivlenmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArsivID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeansFiyatLog]    Script Date: 28.12.2025 23:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeansFiyatLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[SeansID] [int] NOT NULL,
	[EskiFiyat] [decimal](5, 2) NULL,
	[YeniFiyat] [decimal](5, 2) NULL,
	[DegisiklikTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auth_permission] ON 

INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (1, N'Can add log entry', 1, N'add_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (2, N'Can change log entry', 1, N'change_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (3, N'Can delete log entry', 1, N'delete_logentry')
SET IDENTITY_INSERT [dbo].[auth_permission] OFF
GO
SET IDENTITY_INSERT [dbo].[auth_user] ON 

INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (1, N'pbkdf2_sha256$260000$pwjxnptUtZRpV122O6WGjs$XlA4YLg3gtqf0SWfDddx1ZXH+DWjnxOhyCJ+Ac5zl1A=', CAST(N'2025-12-28T19:42:11.0499960+00:00' AS DateTimeOffset), 1, N'atike', N'', N'', N'katikecanan@gmail.com', 1, 1, CAST(N'2025-12-25T12:14:57.4938890+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[auth_user] OFF
GO
SET IDENTITY_INSERT [dbo].[Bilet] ON 

INSERT [dbo].[Bilet] ([BiletID], [SeansID], [KoltukID], [KullaniciID], [SatisZamani], [Fiyat], [BiletTipi]) VALUES (13, 6, 228, NULL, CAST(N'2025-12-27T16:28:07.680' AS DateTime), CAST(150.00 AS Decimal(10, 2)), N'Tam')
INSERT [dbo].[Bilet] ([BiletID], [SeansID], [KoltukID], [KullaniciID], [SatisZamani], [Fiyat], [BiletTipi]) VALUES (14, 6, 229, NULL, CAST(N'2025-12-27T16:30:18.857' AS DateTime), CAST(100.00 AS Decimal(10, 2)), N'Ogrenci')
INSERT [dbo].[Bilet] ([BiletID], [SeansID], [KoltukID], [KullaniciID], [SatisZamani], [Fiyat], [BiletTipi]) VALUES (15, 6, 227, NULL, CAST(N'2025-12-27T16:30:18.880' AS DateTime), CAST(150.00 AS Decimal(10, 2)), N'Tam')
SET IDENTITY_INSERT [dbo].[Bilet] OFF
GO
SET IDENTITY_INSERT [dbo].[django_admin_log] ON 

INSERT [dbo].[django_admin_log] ([id], [action_time], [object_id], [object_repr], [action_flag], [change_message], [content_type_id], [user_id]) VALUES (1, CAST(N'2025-12-25T12:43:00.9809690+00:00' AS DateTimeOffset), N'1', N'Salon1', 1, N'[{"added": {}}]', 11, 1)
INSERT [dbo].[django_admin_log] ([id], [action_time], [object_id], [object_repr], [action_flag], [change_message], [content_type_id], [user_id]) VALUES (2, CAST(N'2025-12-25T12:43:06.3797790+00:00' AS DateTimeOffset), N'1', N'Salon1', 2, N'[]', 11, 1)
INSERT [dbo].[django_admin_log] ([id], [action_time], [object_id], [object_repr], [action_flag], [change_message], [content_type_id], [user_id]) VALUES (3, CAST(N'2025-12-25T12:44:14.5596910+00:00' AS DateTimeOffset), N'1', N'Koltuk object (1)', 1, N'[{"added": {}}]', 9, 1)
GO
SET IDENTITY_INSERT [dbo].[django_admin_log] OFF
GO
SET IDENTITY_INSERT [dbo].[django_content_type] ON 

INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (1, N'admin', N'logentry')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (3, N'auth', N'group')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (2, N'auth', N'permission')
SET IDENTITY_INSERT [dbo].[django_content_type] OFF
GO
SET IDENTITY_INSERT [dbo].[django_migrations] ON 

INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (1, N'contenttypes', N'0001_initial', CAST(N'2025-12-25T11:46:38.5538540+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (2, N'auth', N'0001_initial', CAST(N'2025-12-25T11:46:38.6339610+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (3, N'admin', N'0001_initial', CAST(N'2025-12-25T11:46:38.6633230+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[django_migrations] OFF
GO
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'v4hst0b252ocwqrydpvp8ixij98dwk59', N'.eJxVjDsOgzAUBO_iGlk8sMGkTJ8bRELrzwsOCCTARRTl7oGIIrQzs_sWfRoGjNHFNnpxKbI_gA0IvO4pJ81BZKJFWrs2LWH-xYLOzML1YdyFf2J8TNJN4zpHK_dEHnaRt8mH4Xq0p4MOS7etC0ZO3hhYbjQ3TW2D4lKRYiIOtUMJrTgwa1PBUQkD1JXNNVVaIZD4fAEmdkcv:1vZweZ:hA0N9JufBJuX59O3kCSk3ZlmJ0-rEKoibSbrsEc9dtI', CAST(N'2026-01-11T19:42:11.0657630+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([FilmID], [Ad], [Tur], [Sure], [Aciklama], [VizyonTarihi], [PosterPath], [VizyonBitisTarihi]) VALUES (4, N'Zootropolis 2', N'Animasyon/Komedi/Macera/Aile/Gizem', 120, N'Dedektif Judy Hopps ve Nick Wilde, Zootropolis’e gelen ve memeli metropolünü alt üst eden gizemli bir sürüngenin karmaşık izini sürüyor.', CAST(N'2025-11-26' AS Date), N'https://www.themoviedb.org/t/p/w1280/xdvMX5L7bdonl2geaXL3laTCSr2.jpg', CAST(N'2026-01-07' AS Date))
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
SET IDENTITY_INSERT [dbo].[KapasiteUyariLog] ON 

INSERT [dbo].[KapasiteUyariLog] ([LogID], [SalonID], [EskiKapasite], [YeniKapasite], [UyariSeviyesi], [DegisiklikTarihi]) VALUES (1, 42, 42, 50, N'Kapasite Artırıldı', CAST(N'2025-12-28T14:57:45.147' AS DateTime))
SET IDENTITY_INSERT [dbo].[KapasiteUyariLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Koltuk] ON 

INSERT [dbo].[Koltuk] ([KoltukID], [SalonID], [Sira], [Numara]) VALUES (1, 1, N'A', 1)
INSERT [dbo].[Koltuk] ([KoltukID], [SalonID], [Sira], [Numara]) VALUES (2, 1, N'A', 2)
INSERT [dbo].[Koltuk] ([KoltukID], [SalonID], [Sira], [Numara]) VALUES (3, 1, N'A', 3)
GO
SET IDENTITY_INSERT [dbo].[Koltuk] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([KullaniciID], [Ad], [Soyad], [Eposta], [Rol], [Sifre]) VALUES (2, N'ayşe', N'yılmaz', N'ayse@gmail.com', N'Musteri', N'123')
INSERT [dbo].[Kullanici] ([KullaniciID], [Ad], [Soyad], [Eposta], [Rol], [Sifre]) VALUES (3, N'ahmet', N'inci', N'ahmet@gmail.com', N'Musteri', N'456')
INSERT [dbo].[Kullanici] ([KullaniciID], [Ad], [Soyad], [Eposta], [Rol], [Sifre]) VALUES (1002, N'zehra', N'emeksiz', N'zehra@gmail.com', N'Musteri', N'123')
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[Salon] ON 

INSERT [dbo].[Salon] ([SalonID], [Ad], [Kapasite]) VALUES (1, N'Salon1', 50)
INSERT [dbo].[Salon] ([SalonID], [Ad], [Kapasite]) VALUES (2, N'Salon 2', 50)
INSERT [dbo].[Salon] ([SalonID], [Ad], [Kapasite]) VALUES (3, N'Salon 3', 50)
GO
SET IDENTITY_INSERT [dbo].[Salon] OFF
GO
SET IDENTITY_INSERT [dbo].[Seans] ON 

INSERT [dbo].[Seans] ([SeansID], [FilmID], [SalonID], [Tarih], [Saat], [Fiyat], [Dil]) VALUES (1, 2, 1, CAST(N'2025-12-31' AS Date), CAST(N'10:00:00' AS Time), CAST(150.00 AS Decimal(5, 2)), N'Dublaj')
INSERT [dbo].[Seans] ([SeansID], [FilmID], [SalonID], [Tarih], [Saat], [Fiyat], [Dil]) VALUES (2, 2, 3, CAST(N'2025-12-31' AS Date), CAST(N'14:00:00' AS Time), CAST(150.00 AS Decimal(5, 2)), N'Dublaj')
INSERT [dbo].[Seans] ([SeansID], [FilmID], [SalonID], [Tarih], [Saat], [Fiyat], [Dil]) VALUES (3, 2, 2, CAST(N'2025-12-31' AS Date), CAST(N'13:00:00' AS Time), CAST(150.00 AS Decimal(5, 2)), N'ALTYAZI')
SET IDENTITY_INSERT [dbo].[Seans] OFF
GO
SET IDENTITY_INSERT [dbo].[SeansArsivi] ON 

INSERT [dbo].[SeansArsivi] ([ArsivID], [SeansID], [FilmID], [SalonID], [Tarih], [Saat], [Fiyat], [ArsivlenmeTarihi]) VALUES (1, 66, 2, 1, CAST(N'2026-02-01' AS Date), CAST(N'10:00:00' AS Time), CAST(150.00 AS Decimal(5, 2)), CAST(N'2025-12-28T06:19:07.120' AS DateTime))
INSERT [dbo].[SeansArsivi] ([ArsivID], [SeansID], [FilmID], [SalonID], [Tarih], [Saat], [Fiyat], [ArsivlenmeTarihi]) VALUES (2, 65, 2, 1, CAST(N'2026-01-31' AS Date), CAST(N'10:00:00' AS Time), CAST(150.00 AS Decimal(5, 2)), CAST(N'2025-12-28T06:19:07.120' AS DateTime))
INSERT [dbo].[SeansArsivi] ([ArsivID], [SeansID], [FilmID], [SalonID], [Tarih], [Saat], [Fiyat], [ArsivlenmeTarihi]) VALUES (3, 64, 2, 1, CAST(N'2026-01-30' AS Date), CAST(N'10:00:00' AS Time), CAST(150.00 AS Decimal(5, 2)), CAST(N'2025-12-28T06:19:07.120' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SeansArsivi] OFF
GO
SET IDENTITY_INSERT [dbo].[SeansFiyatLog] ON 

INSERT [dbo].[SeansFiyatLog] ([LogID], [SeansID], [EskiFiyat], [YeniFiyat], [DegisiklikTarihi]) VALUES (1, 2, CAST(150.00 AS Decimal(5, 2)), CAST(150.00 AS Decimal(5, 2)), CAST(N'2025-12-27T02:40:01.987' AS DateTime))
INSERT [dbo].[SeansFiyatLog] ([LogID], [SeansID], [EskiFiyat], [YeniFiyat], [DegisiklikTarihi]) VALUES (2, 3, CAST(150.00 AS Decimal(5, 2)), CAST(150.00 AS Decimal(5, 2)), CAST(N'2025-12-27T02:42:26.090' AS DateTime))
INSERT [dbo].[SeansFiyatLog] ([LogID], [SeansID], [EskiFiyat], [YeniFiyat], [DegisiklikTarihi]) VALUES (3, 2, CAST(150.00 AS Decimal(5, 2)), CAST(150.00 AS Decimal(5, 2)), CAST(N'2025-12-27T02:42:34.857' AS DateTime))
SET IDENTITY_INSERT [dbo].[SeansFiyatLog] OFF
GO
SET IDENTITY_INSERT [dbo].[SeansSatisLog] ON 

INSERT [dbo].[SeansSatisLog] ([LogID], [SeansID], [SatilanAdet]) VALUES (1, 6, 9)
INSERT [dbo].[SeansSatisLog] ([LogID], [SeansID], [SatilanAdet]) VALUES (2, 17, 1)
SET IDENTITY_INSERT [dbo].[SeansSatisLog] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_group_name_a6ea08ec_uniq]    Script Date: 28.12.2025 23:27:39 ******/
ALTER TABLE [dbo].[auth_group] ADD  CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_user_username_6821ab7c_uniq]    Script Date: 28.12.2025 23:27:39 ******/
ALTER TABLE [dbo].[auth_user] ADD  CONSTRAINT [auth_user_username_6821ab7c_uniq] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Bilet__64264D8431211F15]    Script Date: 28.12.2025 23:27:39 ******/
ALTER TABLE [dbo].[Bilet] ADD UNIQUE NONCLUSTERED 
(
	[SeansID] ASC,
	[KoltukID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Koltuk__E6685F79A1A5D209]    Script Date: 28.12.2025 23:27:39 ******/
ALTER TABLE [dbo].[Koltuk] ADD UNIQUE NONCLUSTERED 
(
	[SalonID] ASC,
	[Sira] ASC,
	[Numara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__03ABA3913463C056]    Script Date: 28.12.2025 23:27:39 ******/
ALTER TABLE [dbo].[Kullanici] ADD UNIQUE NONCLUSTERED 
(
	[Eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Salon__3214AD00FDD60283]    Script Date: 28.12.2025 23:27:39 ******/
ALTER TABLE [dbo].[Salon] ADD UNIQUE NONCLUSTERED 
(
	[Ad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Seans__1441F77B05A3B0A9]    Script Date: 28.12.2025 23:27:39 ******/
ALTER TABLE [dbo].[Seans] ADD UNIQUE NONCLUSTERED 
(
	[SalonID] ASC,
	[Tarih] ASC,
	[Saat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SeansSat__0359BD61E5BF9DBF]    Script Date: 28.12.2025 23:27:39 ******/
ALTER TABLE [dbo].[SeansSatisLog] ADD UNIQUE NONCLUSTERED 
(
	[SeansID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bilet] ADD  DEFAULT (getdate()) FOR [SatisZamani]
GO
ALTER TABLE [dbo].[KapasiteUyariLog] ADD  DEFAULT (getdate()) FOR [DegisiklikTarihi]
GO
ALTER TABLE [dbo].[Kullanici] ADD  DEFAULT ('Musteri') FOR [Rol]
GO
ALTER TABLE [dbo].[Seans] ADD  DEFAULT ('Dublaj') FOR [Dil]
GO
ALTER TABLE [dbo].[SeansArsivi] ADD  DEFAULT (getdate()) FOR [ArsivlenmeTarihi]
GO
ALTER TABLE [dbo].[SeansFiyatLog] ADD  DEFAULT (getdate()) FOR [DegisiklikTarihi]
GO
ALTER TABLE [dbo].[SeansSatisLog] ADD  DEFAULT ((0)) FOR [SatilanAdet]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH CHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[Bilet]  WITH CHECK ADD FOREIGN KEY([KoltukID])
REFERENCES [dbo].[Koltuk] ([KoltukID])
GO
ALTER TABLE [dbo].[Bilet]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
GO
ALTER TABLE [dbo].[Bilet]  WITH CHECK ADD FOREIGN KEY([SeansID])
REFERENCES [dbo].[Seans] ([SeansID])
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id]
GO
ALTER TABLE [dbo].[Koltuk]  WITH CHECK ADD FOREIGN KEY([SalonID])
REFERENCES [dbo].[Salon] ([SalonID])
GO
ALTER TABLE [dbo].[Seans]  WITH CHECK ADD FOREIGN KEY([FilmID])
REFERENCES [dbo].[Film] ([FilmID])
GO
ALTER TABLE [dbo].[Seans]  WITH CHECK ADD FOREIGN KEY([SalonID])
REFERENCES [dbo].[Salon] ([SalonID])
GO
ALTER TABLE [dbo].[SeansSatisLog]  WITH CHECK ADD FOREIGN KEY([SeansID])
REFERENCES [dbo].[Seans] ([SeansID])
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
/****** Object:  StoredProcedure [dbo].[sp_AktifSeanslarGetir]    Script Date: 28.12.2025 23:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP2: Belirli bir tarihteki tüm aktif seansları ve salon adıyla birlikte getirme
CREATE PROCEDURE [dbo].[sp_AktifSeanslarGetir] (
	@Tarih DATE
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		S.SeansID,
		F.Ad AS FilmAdi,
		L.Ad AS SalonAdi,
		S.Tarih,
		S.Saat,
		S.Fiyat
	FROM
		Seans S
	INNER JOIN
		Film F ON S.FilmID=F.FilmID
	INNER JOIN
		Salon L ON S.SalonID=L.SalonID
	WHERE
		S.Tarih=@Tarih
	ORDER BY
		S.Saat;
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_BiletSatisi]    Script Date: 28.12.2025 23:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP1: Yeni Bilet Satisi Gerceklestirme
CREATE PROCEDURE [dbo].[sp_BiletSatisi] (
	@SeansID INT,
	@KoltukID INT,
	@KullaniciID INT =NULL, --misafir bilet alabilir
	@Sonuc NVARCHAR(100) OUTPUT
)
AS
BEGIN
	--1.ADIM: Aynı seansta bu koltuğun satılıp satılmadığını kontrol et
	IF EXISTS (
		SELECT 1
		FROM Bilet
		WHERE SeansID = @SeansID AND KoltukID = @KoltukID
	)
	BEGIN
		SET @Sonuc='HATA: Bu koltuk zaten satılmıştır.';
		RETURN;
	END

	--2.ADIM: Satisi gerceklestir
	INSERT INTO Bilet (SeansID, KoltukID,KullaniciID)
	VALUES (@SeansID,@KoltukID,@KullaniciID);

	SET @Sonuc='BAŞARILI: Bilet satışı tamamlandı.';
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_FilmHasilatiniHesapla]    Script Date: 28.12.2025 23:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP3: Belirli bir filmin toplam hasilatini hesaplama
CREATE PROCEDURE [dbo].[sp_FilmHasilatiniHesapla] (
	@FilmID INT,
	@ToplamHasılat DECIMAL(10,2) OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		@ToplamHasılat=SUM(S.Fiyat)
	FROM 
		Bilet B
	INNER JOIN
		Seans S ON B.SeansID=S.SeansID
	WHERE
		S.FilmID=@FilmID;

	--Eger sonuc NULL ise (henuz satis yoksa) sifir yap
	SET @ToplamHasılat=ISNULL(@ToplamHasılat,0.00);
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciBiletleriniListele]    Script Date: 28.12.2025 23:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP4: Belirli bir kullanıcının aldığı tüm biletleri detaylı listeleme
CREATE PROCEDURE [dbo].[sp_KullaniciBiletleriniListele] (
	@KullaniciID INT
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		B.BiletID,
		F.Ad AS FilmAdi,
		L.Ad AS SalonAdi,
		S.Tarih AS SeansTarihi,
		S.Saat AS SeansSaati,
		Klt.Sira +CAST(Klt.Numara AS NVARCHAR(5)) AS Koltuk,
		S.Fiyat,
		B.SatisZamani
	FROM
		Bilet B
	INNER JOIN
		Seans S ON B.SeansID=S.SeansID
	INNER JOIN
		Film F ON S.FilmID=F.FilmID
	INNER JOIN
		Salon L ON S.SalonID=L.SalonID
	INNER JOIN
		Koltuk Klt ON B.KoltukID=Klt.KoltukID
	WHERE
		B.KullaniciID=@KullaniciID
	ORDER BY
		B.SatisZamani DESC;
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_SeansKapasiteKontrolu]    Script Date: 28.12.2025 23:27:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP5: Belirli bir seans icin bos koltuk sayisini hesaplar
CREATE PROCEDURE [dbo].[sp_SeansKapasiteKontrolu] (
	@SenasID INT,
	@BosKoltukSayisi INT OUTPUT
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ToplamKapasite INT;
	DECLARE @SatilanBiletSayisi INT;

	--1. ADIM: Seansin yapildigi salonun toplam kapasitesini bul
	SELECT
		@ToplamKapasite=Sln.Kapasite
	FROM
		Seans S
	INNER JOIN
		Salon Sln ON S.SalonID=Sln.SalonID
	WHERE
		S.SeansID=@SenasID;

	--2.ADIM: Bu seans icin satilan bilet sayisini bul
	SELECT
		@SatilanBiletSayisi=COUNT(BiletID)
	FROM
		Bilet
	WHERE
		SeansID=@SenasID;

	--3.ADIM: Bos koltuk sayisini hesapla
	SET @BosKoltukSayisi=@ToplamKapasite - @SatilanBiletSayisi;

	--Eger kapasite bulunamazsa veya seans yoksa 0 dondorme
	SET @BosKoltukSayisi=ISNULL(@BosKoltukSayisi,0);
END
GO
